extend ../layouts/layout

block content
  a.btn.btn-primary.btn-rounded(href='/' + path[0] + '/' + path[1]) Back
  form.row.my-4.justify-content-center.align-items-center.g-4(method='POST')
    .table-responsive
      table.table.align-middle.mb-0.bg-white.table-hover.text-nowrap
        thead.bg-light
          tr
            th ID
            th Info
            th Created At
            th Role
            th Status
        tbody
          tr
            td#user-id.fw-normal #{user.id}
            td
              .d-flex.align-items-center
                img.rounded-circle(src=user.avatar alt='' height=35)
                .ms-3
                  p.fw-bold.mb-1 #{user.username}
                  p.text-muted.mb-0 #{user.email}
            td #{new Date(user.createdAt).toLocaleString()}
            td
              if(user.role)
                span.badge.badge-dark.rounded-pill.d-inline Admin
              else
                span.badge.badge-ligh.rounded-pill.d-inline Member
            td
              if(user.status)
                span.badge.badge-success.rounded-pill.d-inline Active
              else
                span.badge.badge-danger.rounded-pill.d-inline Deactive
    input(name='_csrf' type='hidden' value=csrfToken)
    button.btn.btn-danger.btn-rounded.col-sm-3.col-md-2.col-xxl-1(type='submit') Delete