extend ../../layouts/layout

block customHead
  link(rel='stylesheet', href='/plugins/datatables/datatables.min.css')

block content
  +adminLayout
block adminContent
  a.btn.btn-outline-primary.my-3.btn-rounded(href='/' + fullPath + '/add') Add
  .table-responsive.my-3
    table#userTable.table.table-hover.caption-top.text-nowrap
      caption List of users
      thead.bg-light
        tr
          th(scope='col') ID
          th(scope='col') Info
          th(scope='col') Created At
          th(scope='col') Role
          th(scope='col') Status
          th(scope='col') Actions
      tbody
        if(users)
          each user in users
            tr
              td#user-id.fw-normal #{user.id}
              td.d-flex.align-items-center
                .avatar-circle
                  img(src=user.avatar alt='Avatar')
                .ms-2
                  p.fw-bold.mb-1 #{user.username}
                  p.text-muted.mb-0 #{user.email}
              td #{new Date(user.createdAt).toLocaleString()}
              td
                if(user.role)
                  span.badge.rounded-pill.text-bg-dark Admin
                else
                  span.badge.rounded-pill.text-bg-light Member
              td
                if(user.status)
                  span.badge.rounded-pill.text-bg-success Active
                else
                  span.badge.rounded-pill.text-bg-danger Inactive
              td
                .col.d-flex.gap-3
                  a.text-primary.action-button(href=`/${fullPath}/edit/${user.id}`)
                    i.ti-pencil-alt.fs-3
                  a.text-danger.action-button(href=`/${fullPath}/delete/${user.id}`)
                    i.ti-trash.fs-3
block scripts
  script(src='/plugins/datatables/datatables.min.js')
  script.
    $(document).ready(function() {
      $('#userTable').DataTable({
        "pageLength": 5,
        "order": [[ 4, "desc"]]
      });
    });