extend ./layouts/layout

block content
  .banner.text-center
    .container
      .row
        .col-lg-9.mx-auto
          h1.mb-5
            | What Would You 
            br
            |  Like To Read Today?
          ul.list-inline.widget-list-inline
            li.list-inline-item
              a(href='/datapacks') Datapack
            li.list-inline-item
              a(href='/forums') Forums
            li.list-inline-item
              a(href='/faqs') FAQS
    svg.banner-border(height='240', viewBox='0 0 2202 240', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1', stroke-width='2')
  // end of banner
  section.section.pb-0
    .container
      .row
        .col-lg-4.mb-5
          h2.h5.section-title Lastest Datapack
          if(posts)
            - var post = posts[posts.length - 1];
            article.card
              .post-slider.slider-sm
                img.card-img-top(src=post.thumbnail, alt='post-thumb')
              .card-body
                h3.h4.mb-3
                  a.post-title(href=post.slug) #{post.title}
                ul.card-meta.list-inline
                  li.list-inline-item
                    a.card-meta-author(href='author-single.html')
                      img(src='/favicon.ico')
                      span TheDemonTuan
                  li.list-inline-item
                    i.ti-timer
                    span #{post.read_time} Min To Read
                  li.list-inline-item
                    ul.card-meta-tag.list-inline
                      if(categories)
                        each category in categories
                          if category.id == post.category_id
                            li.list-inline-item
                              a(href=category.name.toLowerCase()) #{category.name}
                  li.list-inline-item
                    i.ti-calendar
                    span Last Updated: #{new Date(post.updatedAt).toLocaleString('en-US')}
                .container
                  .row
                    .col-12
                      p#description-text=post.description
                    a.btn.btn-outline-primary(href=post.slug) Read More
        .col-lg-4.mb-5
          h2.h5.section-title Trending Datapack
          article.card.mb-4
            .card-body.d-flex
              img.card-img-sm(src='images/post/post-3.jpg')
              .mx-3
                h4
                  a.post-title(href='post-details.html') Advice From a Twenty Something
                ul.card-meta.list-inline.mb-0
                  li.list-inline-item.mb-0
                    i.ti-calendar
                    | 14 jan, 2020
                  li.list-inline-item.mb-0
                    i.ti-timer
                    | 2 Min To Read
        .col-lg-4.mb-5
          h2.h5.section-title Popular Datapack
          article.card
            .post-slider.slider-sm
              img.card-img-top(src='images/post/post-5.jpg', alt='post-thumb')
            .card-body
              h3.h4.mb-3
                a.post-title(href='post-details.html') How To Make Cupcakes and Cashmere Recipe At Home
              ul.card-meta.list-inline
                li.list-inline-item
                  a.card-meta-author(href='author-single.html')
                    img(src='images/kate-stone.jpg', alt='Kate Stone')
                    span Kate Stone
                li.list-inline-item
                  i.ti-timer
                  | 2 Min To Read
                li.list-inline-item
                  i.ti-calendar
                  | 14 jan, 2020
                li.list-inline-item
                  ul.card-meta-tag.list-inline
                    li.list-inline-item
                      a(href='tags.html') City
                    li.list-inline-item
                      a(href='tags.html') Food
                    li.list-inline-item
                      a(href='tags.html') Taste
              p It&rsquo;s no secret that the digital industry is booming. From exciting startups to &mldr;
              a.btn.btn-outline-primary(href='post-details.html') Read More
        .col-12
          .border-bottom.border-default
  section.section-sm
    .container
      .row.justify-content-center
        .col-lg-8.mb-5.mb-lg-0
          h2.h5.section-title Recent Datapack
          if(posts)
          - for(var i = posts.length - 1; i >= 0; i--)
            - var post = posts[i]
            article.posts.card.mb-4
              a(href=post.slug)
                img.card-img-top(src=post.thumbnail, alt='post-thumb')
              .card-body
                h3.mb-3
                  a.post-title(href=post.slug) #{post.title}
                ul.card-meta.list-inline
                  li.list-inline-item
                    a.card-meta-author(href='author-single.html')
                      img(src='/favicon.ico', alt='TheDemonTuan')
                      span TheDemonTuan
                  li.list-inline-item
                    i.ti-timer
                    span #{post.read_time} Min To Read
                  li.list-inline-item
                    i.ti-calendar
                    span Last Updated: #{new Date(post.updatedAt).toLocaleString('en-US')}
                  li.list-inline-item
                    ul.card-meta-tag.list-inline
                      each category in categories
                        if category.id == post.category_id
                          li.list-inline-item
                            a(href=category.name.toLowerCase()) #{category.name}
                p #{post.description}
                a.btn.btn-outline-primary(href=post.slug) Read More
        aside.col-lg-4.sidebar-home
          // about me
          .widget.widget-about
            h4.widget-title Hi, I am TheDemonTuan!
            img.img-fluid(src='/favicon.ico', alt='Themefisher')
            p I'm a backend developer also a minecraft datapack developer.
            ul.list-inline.social-icons.mb-3
              li.list-inline-item
                a(href='#')
                  i.ti-facebook
              li.list-inline-item
                a(href='#')
                  i.ti-twitter-alt
              li.list-inline-item
                a(href='#')
                  i.ti-linkedin
              li.list-inline-item
                a(href='#')
                  i.ti-github
              li.list-inline-item
                a(href='#')
                  i.ti-youtube
            a.btn.btn-primary.mb-2(href='about-me.html') About me
          // Search
          .widget
            h4.widget-title
              span Never Miss A News
            form.widget-search(action='#!', method='post', name='mc-embedded-subscribe-form', target='_blank')
              input#search-query.mb-3(name='s', type='search', placeholder='Your Email Address')
              i.ti-email
              button.btn.btn-primary.btn-block(type='submit', name='subscribe') Subscribe now
              div(style='position: absolute; left: -5000px;', aria-hidden='true')
                input(type='text', name='b_463ee871f45d2d93748e77cad_a0a2c6d074', tabindex='-1')
          // categories
          .widget.widget-categories
            h4.widget-title
              span Categories
            ul.list-unstyled.widget-list
              li
                a.d-flex(href='tags.html')
                  | Datapacks
                  small.ml-auto (#{posts.length})
              li
                a.d-flex(href='tags.html')
                  | Forums 
                  small.ml-auto (1)
              li
                a.d-flex(href='tags.html')
                  | FAQS 
                  small.ml-auto (1)
          // tags
          .widget
            h4.widget-title
              span Tags
            ul.list-inline.widget-list-inline.widget-card
              li.list-inline-item
                a(href='tags.html') City
          // recent post
          .widget
            h4.widget-title Recent Datapack
            // post-item
            article.widget-card
              .d-flex
                img.card-img-sm(src='images/post/post-10.jpg')
                .ml-3
                  h5
                    a.post-title(href='post/elements/') Elements That You Can Use In This Template.
                  ul.card-meta.list-inline.mb-0
                    li.list-inline-item.mb-0
                      i.ti-calendar
                      | 15 jan, 2020
            article.widget-card
              .d-flex
                img.card-img-sm(src='images/post/post-3.jpg')
                .ml-3
                  h5
                    a.post-title(href='post-details.html') Advice From a Twenty Something
                  ul.card-meta.list-inline.mb-0
                    li.list-inline-item.mb-0
                      i.ti-calendar
                      | 14 jan, 2020
            article.widget-card
              .d-flex
                img.card-img-sm(src='images/post/post-7.jpg')
                .ml-3
                  h5
                    a.post-title(href='post-details.html') Advice From a Twenty Something
                  ul.card-meta.list-inline.mb-0
                    li.list-inline-item.mb-0
                      i.ti-calendar
                      | 14 jan, 2020
          // Social
          .widget
            h4.widget-title
              span Social Links
            ul.list-inline.widget-social
              li.list-inline-item
                a(href='#')
                  i.ti-facebook
              li.list-inline-item
                a(href='#')
                  i.ti-twitter-alt
              li.list-inline-item
                a(href='#')
                  i.ti-linkedin
              li.list-inline-item
                a(href='#')
                  i.ti-github
              li.list-inline-item
                a(href='#')
                  i.ti-youtube