extend ../../layouts/layout

block customHead
  link(rel='stylesheet', href='/plugins/datatables/datatables.min.css')

block content
  +adminLayout
block adminContent
  a.btn.btn-outline-primary.my-3.btn-rounded(href='/' + fullPath + '/add') Add
  .table-responsive.my-3
    table#tagTable.table.table-hover.caption-top.text-nowrap
      thead.bg-light
        tr
          th ID
          th Name
          th Slug
          th Actions
      tbody
        if (tags)
          each tag in tags
            tr
              td #{tag.id}
              td #{tag.name}
              td #{tag.slug}
              td
                .col.d-flex.gap-3
                  a.text-primary.action-button(href=`/${fullPath}/edit/${tag.id}`)
                    i.ti-pencil-alt.fs-3
                  a.text-danger.action-button(href=`/${fullPath}/delete/${tag.id}`)
                    i.ti-trash.fs-3
block scripts
  script(src='/plugins/datatables/datatables.min.js')
  script.
    $(document).ready(function() {
      $('#tagTable').DataTable();
    });