extend ../../layouts/layout

block content
  +adminLayout
block adminContent
  a.btn.btn-outline-primary.btn-rounded(href='/' + paths[0] + '/' + paths[1]) Back
  if(post)
    form.row.my-4.justify-content-center.align-items-center.g-4(method='POST')
      .table-responsive.my-3
        table.table.table-hover.caption-top.text-nowrap
          thead.bg-light
            tr
              th ID
              th Tags
              th Thumbnail
              th Title
              th Slug
              th Status
          tbody
            tr
              td= post.id
              td= post.tag_list
              td 
                img.img-thumbnail.img-fluid.hover-shadow(src=post.thumbnail width='250')
              td= post.title
              td= post.slug
              td
                if(post.status)
                  span.badge.rounded-pill.text-bg-success Active
                else
                  span.badge.rounded-pill.text-bg-danger Inactive
          input(name='_csrf' type='hidden' value=csrfToken)
        .d-flex.justify-content-center
          button.btn.btn-outline-danger.col-auto.my-3(type='submit') Delete
  else
    .alert.alert-danger.m-2(role='alert') No post found
