extend ../../layouts/layout

block customHead
  link(rel='stylesheet', href='/plugins/datatables/datatables.min.css')

block content
  +adminLayout
block adminContent
  a.btn.btn-outline-primary.my-3.btn-rounded(href='/' + fullPath + '/add') Add
  .table-responsive.my-3
    table#postTable.table.table-hover.caption-top.text-nowrap
      caption List of posts
      thead
        tr
          th ID
          th Category Slug
          th Tags
          th Thumbnail
          th Title
          th Slug
          th Status
          th Action
      tbody
        if(posts)
          each post in posts
            tr
              td= post.id
              td= post.category_slug
              td
                - var tags = post.tag_list;
                - tags = tags.split(',');
                each tag in tags
                  span.badge.rounded-pill.text-bg-secondary.me-1 #{tag}
              td 
                img.img-thumbnail.img-fluid(src=post.thumbnail width='250')
              td= post.title
              td= post.slug
              td
                if(post.status)
                  span.badge.rounded-pill.text-bg-success Active
                else
                  span.badge.rounded-pill.text-bg-danger Inactive
              td
                .col.d-flex.gap-3
                  a.text-warning.action-button(href=post.link target='_blank')
                    i.ti-eye.fs-3
                  a.text-primary.action-button(href=`/${fullPath}/edit/${post.id}`)
                    i.ti-pencil-alt.fs-3
                  a.text-danger.action-button(href=`/${fullPath}/delete/${post.id}`)
                    i.ti-trash.fs-3
block scripts
  script(src='/plugins/datatables/datatables.min.js')
  script.
    $(document).ready(function() {
      $('#postTable').DataTable();
    });